.nav-bar {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin: 1rem;
  width: calc(100% - 2rem);
}

.menu-nav {
  width: 100%;
}

.menu-nav-mobile {
  border: 1px solid black;
  background-color: hsl(var(--primary-dark-violet));
  border-radius: 10px;
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  animation: fadein 0.3s ease-out;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-nav-mobile li {
  text-align: center;
  margin: 2rem 0;
}

.menu-nav-mobile a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.menu-nav ul {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.menu-nav li {
  margin-left: 1rem;
}

.menu-nav a {
  text-decoration: none;
  color: hsla(var(--neutral-very-dark-blue), 0.7);
  font-weight: 700;
}

.menu-nav a:hover {
  color: hsl(var(--neutral-very-dark-blue));
}

.menu-nav hr {
  display: none;
}

.nav-bar .nav-logo {
  margin-right: 2rem;
}

.menu-icon svg {
  opacity: 0.5;
}

hr {
  height: 1px;
  border: 0;
  background-color: hsla(var(--primary-dark-violet), 1);
  filter: brightness(140%);
  width: 85%;
}

.menu-nav .nav-item-box {
  display: flex;
  justify-content: space-evenly;
  height: 2rem;
  align-items: center;
}

.menu-nav .account-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 800px) {
  .nav-bar {
    width: 85%;
  }
}
