.link-card {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 2rem);
  background-color: white;
  margin: 1rem;
  padding: 1rem 0;
  border-radius: 10px;
}

.link-card span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  width: 90%;
  margin: 0.5rem 0;
}

.link-short {
  color: hsl(var(--primary-cyan));
}

.link-card hr {
  background-color: hsl(var(--neutral-grayish-violet));
  height: 1px;
  border: none;
  width: 100%;
}

.link-card button {
  margin-top: 0.5rem;
}

@media (min-width: 800px) {
  .link-card {
    flex-flow: row nowrap;
    margin: 0.5rem 1rem;
    padding: 0 1.5rem;
    height: 3.5rem;
    width: 85%;
  }

  .link-card hr {
    display: none;
  }

  .link-card .link-short {
    width: fit-content;
    overflow: visible;
    margin: 0 1rem;
  }

  .link-card button {
    margin: 0;
  }

  .link-card * {
    font-size: 14px;
  }
}

@media (min-width: 1100px) {
  .link-card button {
    width: 10%;
  }
}
